@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Sulphur+Point&display=swap");
/* font-family: 'Redressed', cursive;
font-family: 'Sulphur Point', sans-serif; */
.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}
canvas {
  z-index: 1000;
}
.container__right {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  font-size: 50px;
  height: 100vh;
  padding: 50px;
}
.container__left {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  font-size: 50px;
  height: 100vh;
  padding: 50px;
}
.container__reach {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: hidden;
  font-size: 50px;
  height: 100vh;
  padding: 50px;
}
.intro__title {
  font-family: "Sulphur Point", sans-serif;
  font-size: 80px;
  font-weight: bold;
}
@media screen and (max-width: 750px) {
  .container__left {
    padding: 5px;
  }
}
